.App{
  display: flex;
  background-color: #eef0fa;
}
.main__area{
  margin: 50px;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.tickets{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}